<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972092785389-3tv5kvt6qim1k7u8dqfs5kd9v62n4gga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972092785389-3tv5kvt6qim1k7u8dqfs5kd9v62n4gga</string>
	<key>API_KEY</key>
	<string>AIzaSyCI0Ceu81O58l__VHiiwS3fODpdWSOGQdo</string>
	<key>GCM_SENDER_ID</key>
	<string>972092785389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noknok.cheezworld</string>
	<key>PROJECT_ID</key>
	<string>cheez-world-57ef0</string>
	<key>STORAGE_BUCKET</key>
	<string>cheez-world-57ef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:972092785389:ios:5004bc920f9c8f799682e4</string>
	<key>DATABASE_URL</key>
	<string>https://cheez-world-57ef0.firebaseio.com</string>
</dict>
</plist>
